.width {
  width: 1100px;
  margin: 0 auto 50px auto;
}

.text {
  font-size: 40px;
  font-weight: blod;
  margin: 30px 0;
}

.total-count {
  font-size: 18px;
}

.total-count > p {
  display: inline-block;
  font-size: 20px;
}

.filtering-option {
  display: flex;
  margin: 20px 0 50px 0;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 180px;
  border: 1px solid #333;
  font-size: 23px;
  margin-right: 20px;
  text-align: left;
  border-radius: 5px;
}

.bg-darkgreen {
  background-color: #0b3b0b;
  color: white;
  border: none;
}

.font {
  color: rgb(124, 170, 44);
  font-size: bold;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.sorting {
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.sorting * {
  display: inline-block;
  padding-right: 40px;
  font-size: 18px;
}

.border-bottom {
  border-bottom: 1px solid #333;
}

.product {
  display: inline-block;
  margin: 10px 10px;
}

.product div {
  overflow: hidden;
  height: 330px;
  width: 251px;
}

.product img {
  object-fit: cover;
  height: 100%;
  transition: transform 1s;
}

.product img:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.product-name {
  font-size: 18px;
  margin: 20px 0;
}

.product-price {
  font-size: 18px;
}

.nothing {
  font-size: 25px;
  text-align: center;
  margin: 200px;
}

.product-name,
.product-price {
  padding-right: 15px;
  text-align: right;
  font-size: 20px;
}
