.width {
  width: 1100px;
  margin: 120px auto 50px auto;
}

.product-container {
  height: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
/* 시간 있으면 스케일로 설정 */
.product-container img {
  object-fit: cover;
  height: 650px;
  width: 550px;
}

.product-detail {
  height: 500px;
  width: 500px;
}

.product-detail .product-name {
  font-size: 30px;
  padding-bottom: 20px;
}

.border-bottom {
  border-bottom: 1px solid #333;
}

.bold {
  font-weight: bold;
}
.product-detail .product-price {
  font-size: 30px;
  letter-spacing: -2px;
  margin: 20px 0 125px 0;
}

.product-detail .review-count {
  text-align: right;
  margin-bottom: 10px;
}

.product-detail .price {
  background-color: rgb(242, 242, 242);
  height: 120px;
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.review-count {
  font-size: 20px;
}

.price .count-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  height: 70px;
  width: 180px;
}

.minus,
.plus {
  cursor: pointer;
}

.counter .minus,
.counter .plus {
  border: none;
  background-color: fff;
  font-size: 30px;
  color: #333;
  padding: 0 25px;
}

.product-detail .price .counter .minus {
  font-size: 45px;
}

.counter .count {
  font-size: 25px;
}

.product-detail .total-price {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 2.5rem;
}

.btn-box * {
  height: 60px;
  width: 100%;
  font-size: 20px;
  margin: 15px 0;
}

.storage-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#aside {
  position: sticky;
  margin-left: auto;
  top: 120px;
  height: 750px;
  width: 251px;
  border: 1px solid #333;
  padding: 30px 15px;
  font-family: "Nanum Gothic", sans-serif;
  margin-left: 0;
}

aside img {
  object-fit: cover;
  width: 100%;
  height: 40%;
  margin-bottom: 40px;
}

.side-count {
  width: 100%;
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: space-between;
  height: 45px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}

.small-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  height: 30px;
  width: 80px;
  margin-top: 2px;
  font-size: 15px;
}

#aside .product-price {
  margin: 7px 0 5px 0;
}

.side-count-text {
  display: flex;
  align-items: center;
}

.side-price-text {
  margin: 30px 0 5px 0;
  text-align: right;
}

.side-price-box .total-price {
  font-size: 18px;
  text-align: right;
}

aside .btn-box * {
  height: 50px;
}

aside .cart-btn {
  margin-top: 75px;
}

.bottom-container {
  display: flex;
  flex-direction: row-reverse;
  right: 0;
  margin-bottom: 100px;
}

.detail-tab {
  position: sticky;
  top: 131px;
  background-color: whitesmoke;
  width: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.tab-list * {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.tab-list a {
  padding: 15px 42px;
}

.tab-list div {
  color: #333;
}

.tad-title {
  padding-top: 30px;
}

.tad-text {
  font-size: 25px;
}

.bottom-text {
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
}

.review .review-text {
  font-size: 15px;
  margin: 0 0 20px 30px;
  font-weight: normal;
}

table {
  width: 100%;
}

.table tr * {
  padding: 10px 0;
}

ol li {
  line-height: 2;
  margin: 30px 0;
}

.bg-darkgreen {
  background-color: #0b3b0b;
  color: white;
  border: none;
}

.font {
  color: rgb(124, 170, 44);
  font-size: bold;
}

.pointer {
  cursor: pointer;
}

/* 결제창 css */
.order-layout {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-container {
  width: 650px;
  height: 500px;
  margin-right: 50px;
  border-radius: 10px;
  background-color: #fff;
}

.close {
  text-align: right;
  padding: 15px;
  cursor: pointer;
}

.order-product-info {
  margin: 0 20px;
}

.order-product-info > div {
  display: inline-block;
  width: 49%;
}

.order-text {
  font-size: 20px;
}

.order-product-name,
.order-product-count {
  text-align: right;
  font-size: 25px;
  margin-top: 10px;
}

.order-info {
  font-size: 25px;
  margin: 20px;
  padding: 0px;
}

.order-address {
  width: 75%;
  height: 35px;
  margin-left: 30px;
  border-radius: 5px;
  border: 1px solid gray;
}

.cart-summary {
  border-top: 1px solid lightgray;
  padding-top: 10px;
}

.cart-summary > dl * {
  margin: 0 20px 10px 0;
  text-align: right;
}

dl > .text {
  font-size: 17px;
}

.result-text {
  font-size: 22px;
}

#total-price {
  font-size: 30px;
  font-weight: bold;
}

#submitButton {
  height: 60px;
  width: 100%;
  font-size: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.green-bg {
  border-radius: 5px;
  margin-right: 15px;
  padding: 10px;
  font-size: 20px;
}

.description {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin: 30px 0;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%; /*추가*/
  transition: transform 1s;
}
