<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>O2Market</title>

  <!-- Google Material Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,200" />

  <!-- SWIPER -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

  <!---Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <!-- css -->
  <link rel="stylesheet" href="../../styles/global.css">
  <link rel="stylesheet" href="./layout.css">
  <link rel="stylesheet" href="../banner/banner.css">


  <!-- js -->
  <script defer src="index.js"></script>
  <script defer src="../banner/index.js"></script>

</head>

<body>
  <header id="header"></header>
  <main>
    <!-- BANNER -->
    <!-- Swiper -->
    <section class="banner">
      <div class="slide-container">
        <div class="slide-item">
          <a herf="#" class="banner-link">
            <img class="banner-img" src="../../assets/images/banner-fruit-table.jpg" alt="과일1" />
          </a>
        </div>

        <div class="slide-item">
          <a herf="#" class="banner-link">
            <img class="banner-img" src="../../assets/images/banner-avocado.jpg" alt="과일2" />
          </a>
        </div>

        <div class="slide-item">
          <a herf="#" class="banner-link">
            <img class="banner-img" src="../../assets/images/banner-creditcard.jpg" alt="과일3" />
          </a>
        </div>

        <div class="slide-item">
          <a herf="#" class="banner-link">
            <img class="banner-img" src="../../assets/images/banner-recipe.jpg" alt="채소1" />
          </a>
        </div>

        <div class="slide-item">
          <a herf="#" class="banner-link">
            <img class="banner-img" src="../../assets/images/banner-parcel.jpg" alt="채소2 " />
          </a>
        </div>
      </div>


      <div class="slide-prev">
        <div class="material-icons">arrow_back</div>
      </div>

      <div class="slide-next">
        <div class="material-icons">arrow_forward</div>
      </div>

      <ul class="slide-pagination"></ul>

      <script src="./slide.js"></script>
    </section>




    <!--- PRODUCT -->
    <section id="productContainer">
      <article class="product">
        <div>
          <img src="../../assets/images/product-bluberry.jpg" alt="bluberry">
        </div>
        <h3 class="product-name">블루베리(50g)</h3>
        <p class="product-price">10,000원</p>
      </article>
    </section>
  </main>
  <footer id="footer"></footer>
</body>
<script src="./header.js"></script>
<script src="./footer.js"></script>

</html>