<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>O2Market</title>
  <script src="https://kit.fontawesome.com/98ab902f63.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./header.css">
  <link rel="stylesheet" href="../../styles/global.css">
</head>

<body>
  <!-- HEADER -->
  <header>
    <div class="container">
      <div class="wrapper">
        <h1 class="logo">
          <a href="/" class="title">오이마켓</a>
        </h1>
        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a href="/signin">로그인</a>
            </li>
            <li>
              <a href="/mypage">마이페이지</a>
            </li>
            <li>
              <a href="/mycart">장바구니</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <!-- MAIN -->
  <main>
    <section>
      <!-- banner -->
    </section>
  </main>

  <!-- FOOTER -->
  <footer>
    <div class="inner">
      <ul class="menu">
        <li>
          <a href="javascript:void(0)" class="green">footer temp1</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="green">footer temp2</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="green">footer temp3</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="green">footer temp4</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="green">footer temp5</a>
        </li>
      </ul>
      <div class="info">
        <span>사업자등록번호 000-00-00000</span>
        <span>(주)오이마켓 코리아</span>
        <span>TEL : 02) 3015-1100 / FAX : 02) 3015-1106</span>
        <span>개인정보 책임자 : 강기원</span>
      </div>

      <p class="copyright">
        &copy; <span class="this-year"></span> O2 Market Company. All Right Reserved.
      </p>
    </div>
  </footer>
</body>

</html>