/************* 공통 css *****************/

#headerOne {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.67em 0;
}

/************* 회원가입 css *****************/
.holeMemberFormDiv {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.memberFormDiv {
  /* background-color: rgb(171, 245, 170); */
  width: 450px;
  margin: 90px;
}

.memberFormDiv h1 {
  display: flex;
  justify-content: center;
}

.memberFormDiv input {
  margin: 10px 50px 10px 0px;
  height: 50px;
  width: 350px;
  border-radius: 5px;
  border: 0px;
  background-color: whitesmoke;
}

.memberFormDiv input:last-child {
  background-color: #7fab4dbb;
  margin-top: 20px;
}

.memberForm {
  margin-left: 50px;
}

.joinBtn {
  margin: 0px 0px 10px 125px;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(209, 224, 245);
}
